body {
    background-color: #f5f4f4;
    font-family: 'Raleway', sans-serif;
}

button {
    width: 30%;
    height: 5vh;
    border-radius:  2em;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    background-color: #f6f5f5;
    border: none;
    color: #1687a7;
}

button:focus {
    outline: none;
}

input {
    width: 90%;
    height: 4vh;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
}

form {
    width: 65%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#form-container {
    background-color: #1687a7;
    min-width: 50vh;
    border-radius: 25% 10%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    color: white;

}